<header class=" text-gray-500 body-font">
  <div class="container mx-auto fixed md:relative bg-neutral-900 md:bg-transparent md:flex flex-wrap p-3 md:flex-row flex-col items-center">
    <a class="title-font font-medium items-center text-black dark:text-white flex">
      <button id="burger" class="md:hidden relative flex-shrink-0 p-2 mr-2 text-gray-600 hover:bg-gray-100 hover:text-gray-800 rounded-full">
        <span class="sr-only">Menu</span>
        <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </button>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-10 h-10 text-black dark:text-white p-2 rounded-full" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a54.944 54.944 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3c.319 0 .625.039.924.122.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714Zm1.516 2.224c-.252-.41-.494-.787-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87l-.937-1.565ZM4.846 4.756c.725.1 1.385.634 2.34 2.001A212.13 212.13 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264.091 0 .181.006.27.018Z" />
      </svg>
      <span class="ml-3 text-xl">Hades</span>
    </a>
    <nav id="nav-links" class="hidden fixed z-10 text-base dark:bg-neutral-800 w-11/12 rounded-lg p-4 top-16 
                               md:flex md:static md:ml-auto dark:md:bg-neutral-900 md:w-auto md:flex-wrap md:items-center md:p-0 md:justify-center">
      <a href="https://www.hellhades.tk" class="mr-8 cursor-default text-black dark:text-white">Main</a>
      <a href="about" class="mr-8 cursor-pointer  hover:text-black dark:hover:text-white">About</a>
      <a href="tidewave" class="mr-8 cursor-pointer hover:text-black dark:hover:text-white ">Tidewave</a>
      <a href="tienda" class="mr-8 cursor-pointer hover:text-black dark:hover:text-white">Shop</a>
        <!-- <button class="capitalize px-2 md:inline-flex items-center bg-neutral-800 border-0 md:py-1 md:px-6 md:mr-4 focus:outline-none hover:bg-neutral-700 hover:text-slate-200 rounded text-base md:mt-0">
        </button> -->
        <% if (typeof user != 'undefined') { %>
          <a href="./profile">
        <%} else { %>
          <a href="./auth/">
        <% } %>
            
          <button class=" dark:text-gray-400 md:inline-flex items-center bg-neutral-100 dark:md:bg-neutral-800 border-0 md:py-1 md:px-3 focus:outline-none md:hover:bg-neutral-200 dark:md:hover:bg-neutral-700 rounded text-base md:mt-0">
            <% if (typeof user != 'undefined') { %>
              <span>Profile</span>
            <%} else { %>
              <span>Login</span>
            <% } %>
          </button>
        </a>
        <a href='./auth/logout' class="ml-1 md:inline-flex md:hover:bg-neutral-700 md:hover:text-slate-200 rounded-xl">
          <button id='user'>
          <span class="sr-only">Log out</span>
          <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class=" h-6 w-6 inline md:m-2">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
          </svg>
          </button>
        </a>
    </nav>

    <button class="mode hidden md:inline-flex" id="dark-white"></button>
    <script type="text/javascript">
      const navSlide = () => {
        const burger = document.querySelector("#burger");
        const navLinks = document.querySelector("#nav-links");
        burger.addEventListener("click", () => {
          navLinks.classList.toggle("hidden");
        });
      };
      navSlide();
    </script>
</header>