<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="title" content="Hades" />
  <meta name="abstract" content="-" />
  <meta name="subject" content="-" />
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Hellhades">
  <meta property="og:title" content="Hellhades - Servidor de discord">
  <meta property="og:description" content="Login to start sharing and connecting with your friends.">
  <meta property="og:image" content="https://www.hellhades.tk/assets/icon.png">
  <meta name="description" content="Servidor de discord" />
  <meta name="keywords" content="discord, hades, hellhades, dashboard, discordbot, discord server, server discord" />
  <meta name="author" content="Zhren" />
  <meta name="designer" content="Zhren" />
  <meta name="copyright" content="2023 HellHades" />
  <meta name="language" content="es" />
  <meta name="rating" content="general" />
  <meta name="theme-color" content="#000" />
  <meta name="distribution" content="global" />
  <meta name="robots" content="index" />
  <meta name="url" content="https://www.hellhades.tk" />
  <meta name="identifier-URL" content="https://www.hellhades.tk" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap" rel="stylesheet">
  <link rel="icon" href="https://www.hellhades.tk/assets/icon.ico" />
  <link rel="stylesheet" href="http://www.hellhades.tk/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title><%= title %></title>

</head>