<%- include('html'); -%>
<body id="app" class="bg-white dark:bg-neutral-900">
  <div class="aft-loader"></div>
  <div class="loader"></div>
  <script type="text/javascript">
    $(window).on('load', function() {
      $(".loader").fadeOut("slow");
      $(".aft-loader").fadeOut("slow");
    });
  </script>
    <%- include('header'); -%>
  <section class="text-gray-600 dark:text-gray-400 body-font text-center px-0 md:px-40 lg:px-52 xl:px-80 2xl:px-96">
    <div class="container mx-auto pt-24 justify-center w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1 class="sm:text-4xl text-3xl mb-4 font-medium text-black dark:text-white">Hades</h1>
      <p class="mb-8 leading-relaxed px-6">Un servidor con lo necesario para jugar con tus amigos<br> y divertirte con muchas cosas mas!</p>
      <a href="https://discord.com/invite/rUADwcj4kf">
        <button class="text-white inline-flex items-center bg-purple-800/50 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded-lg text-lg">Entrar al servidor
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>
    </div>
    <div class="flex flex-col w-full shadow-lg rounded-lg gap-1 p-4 bg-gray-500 dark:bg-transparent text-white dark:text-inherit">
      <div class="flex justify-between items-center flex-grow bg-opacity-0 bg-neutral-800 hover:bg-opacity-50 px-2 py-1 rounded-lg transition">
        <p class="text-lg text-opacity-75">
          Canales de chat
        </p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-base text-emerald-400 w-4 mr-1 svg-inline--fa fa-check fa-w-16">
          <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </div>
      <div class="flex justify-between items-center flex-grow bg-opacity-0 bg-neutral-800 hover:bg-opacity-50 px-2 py-1 rounded-lg transition">
        <p class="text-lg text-opacity-75">
          Canales de voz
        </p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-base text-emerald-400 w-4 mr-1 svg-inline--fa fa-check fa-w-16">
          <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </div>
      <div class="flex justify-between items-center flex-grow bg-opacity-0 bg-neutral-800 hover:bg-opacity-50 px-2 py-1 rounded-lg transition">
        <p class="text-lg text-opacity-75">Roles</p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-base text-emerald-400 w-4 mr-1 svg-inline--fa fa-check fa-w-16">
          <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </div>
      <div class="flex justify-between items-center flex-grow bg-opacity-0 bg-neutral-800 hover:bg-opacity-50 px-2 py-1 rounded-lg transition">
        <p class="text-lg text-opacity-75">Moderadores 24/7</p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-base text-emerald-400 w-4 mr-1 svg-inline--fa fa-check fa-w-16">
          <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </div>
      <div class="flex justify-between items-center flex-grow bg-opacity-0 bg-neutral-800 hover:bg-opacity-50 px-2 py-1 rounded-lg transition">
        <p class="text-lg text-opacity-75">Amplia diversidad de gustos</p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-base text-emerald-400 w-4 mr-1 svg-inline--fa fa-check fa-w-16">
          <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </div>
      <div class="flex justify-between items-center flex-grow bg-opacity-0 bg-neutral-800 hover:bg-opacity-50 px-2 py-1 rounded-lg transition">
        <p class="text-lg text-opacity-75">
          Tienda de Rangos para el servidor
        </p>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-base text-emerald-400 w-4 mr-1 svg-inline--fa fa-check fa-w-16">
          <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
        </svg>
      </div>
    </div>
  </section>
  <section class="text-gray-400 body-font">
    <div class="container px-5 py-12 mx-auto">
      <div data-aos="fade-right" class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-neutral-800 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-purple-400 bg-neutral-800 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2">¿Que buscamos?</h2>
          <p class="leading-relaxed text-base">Somos una comunidad de jugadores que buscan conseguir abrir grupos sociales a las personas que
            tengan la necesidad que jugar con otras de una manera accesible.</p>
        </div>
      </div>
      <div data-aos="fade-left" class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-neutral-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2">¿Que te podemos dar?</h2>
          <p class="leading-relaxed text-base"> Todo lo necesario para conectarte con otros jugadores.
            Y la facilidad de encontrar exactamente las personas
            que quieran jugar con vos, sin tener que buscar en una
            larga lista de servidores.</p>
        </div>
        <div class="sm:w-32 order-first sm:order-none sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full text-purple-400 bg-neutral-800 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
      </div>
      <div data-aos="fade-right" class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-purple-400 bg-neutral-800 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2">Reglas</h2>
          <p class="leading-relaxed text-base">Se debe ser respetuoso con todo el mundo y no tener una actitud tóxica.
            No toleramos la discriminación o burla a otros usuarios por los
            motivos que sean.
            El spam está prohibido tanto dentro de Chats
            o salas de voz.
            No se debe entorpecer o “llenar” las salas de
            texto con mensajes basura o spam.
            Tampoco compartir ningún tipo de información personal
            por el servidor, sea tuya o de otra persona.</p>
          <!-- Modal toggle -->
          <button onclick="openReglas()" class="mt-3 text-purple-400 inline-flex items-center" type="button" data-modal-toggle="reglasModal">
            Ver extendido de reglas
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>

          <!-- Main modal -->
          <div id="reglasModal" tabindex="-1" class="bg-neutral-900/75 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
            <div class="relative p-4 w-full max-w-7xl h-full md:h-auto">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow dark:bg-neutral-700">
                <!-- Modal header -->
                <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
                  <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Terminos de servicio
                  </h3>
                  <button onclick="closeReglas()" type="button" class="text-gray-400 bg-transparent hover:bg-neutral-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-neutral-600 dark:hover:text-white" data-modal-toggle="reglasModal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                  </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6 overflow-auto">
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    El desconocimiento de las normas no te exime de la sanción acorde.
                    El staff se reserva el derecho de juzgar situaciones que pueden no
                    ser tratadas con exactitud en las normas. En caso de incumplir las
                    normas se advertirá una primera vez y a partir de la segunda
                    podrás ser expulsado dependiendo de la gravedad de la infracción.
                    Así mismo si la infracción es muy grave podrás ser baneado sin
                    previo aviso.
                  </p>
                  <ol class="md:ml-4 list-decimal text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    <li>Ser respetuoso con todo el mundo y no tener una actitud tóxica.
                      No toleramos la discriminación o burla a otros usuarios por los
                      motivos que sean (Raza, sexo, religión, etc.)
                    </li>
                    <li>Respetar
                      las temáticas de los canales (Esta norma se aplica a todos los
                      canales con temática propia).
                    </li>
                    <li>No entorpecer o “llenar”
                      las salas de texto con mensajes basura (La repetición continuada
                      de emotes, mensajes sin sentido continuados, cadenas, reacciones
                      en exceso, flood y wall texts)</li>
                    <li> No compartir ningún tipo
                      de información personal por el servidor, sea tuya o de otra
                      persona. Con esto nos referimos a números de teléfono, correos
                      electrónicos, direcciones...</li>
                    <li>No envíes virus ni links
                      maliciosos.</li>
                    <li>No usar las menciones a todos los
                      mods/ayudantes para temas “no urgentes”, por favor usar este
                      comando cuando realmente sea necesario.</li>
                    <li>No suplantar a
                      nadie (Usando su imagen o su Nickname)</li>
                    <li>El spam está
                      prohibido tanto dentro de Chats o salas de voz. Entendemos como
                      spam cualquier tipo de publicidad/promoción no deseada a temas
                      ajenos al servidor o no relacionados con el de forma directa, que
                      el video tenga que ver con la temática del canal al que se lo
                      manda, siguiendo la norma de no publicitar. </li>
                    <li>No enviar el
                      siguiente contenido: Desnudos explícitos, violencia, polémicas, ni
                      imágenes desagradables.</li>
                  </ol>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-neutral-600">
                  <button onclick="closeReglas()" data-modal-toggle="reglasModal" type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">I accept</button>
                  <button onclick="closeReglas()" data-modal-toggle="reglasModal" type="button" class="text-gray-500 bg-white hover:bg-neutral-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-neutral-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-neutral-600 dark:focus:ring-gray-600">Decline</button>
                </div>
              </div>
            </div>
          </div>
          <script>
            function openReglas() {
              document.getElementById("reglasModal").style.display = "flex";
            }

            function closeReglas() {
              document.getElementById("reglasModal").style.display = "none";
            }
          </script>
        </div>
      </div>
    </div>
  </section>
  <%- include('footer'); -%>
</body>

</html>