@tailwind base;
@tailwind components;
@tailwind utilities;

.mode {
    background-color: rgba(228, 213, 213, 0.192);
    border-radius: 30px;
    width: 58px;
    position: relative;
    height: 32px;
    flex-shrink: 0;
    margin-left: 16px;
  }

  .mode::before {
    width: 32px;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2.4' fill='white' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: .3s;
    background-position: center;
  }

  .mode::after {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 6px;
    background-color: var(--main-500);
    content: "";
    border-radius: 50%;
    transition: transform .3s;
  }

  html.dark .mode {
    background-color: rgba(0, 0, 0, 0.171);
  }

  html.dark .mode::after {
    transform: translateX(-24px);
  }

  html.dark .mode::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='white' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z'/%3E%3C/svg%3E");
    transform: translateX(26px);
  }
  .aft-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    z-index: 9999;
  }
  .loader {
    position: fixed;
    z-index: 9999;
    display: inline-block;
    opacity: 0.8;
    top: 45%;
    left: 48%;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }